<main class="lista-vacantes">

    <h2>Lista de vacantes</h2>

    {{#if vacantes.length}}
        {{#each vacantes}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{enterprise}}</h3>
                    <p class="puesto">{{title}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Ubicación</p>
                    <p class="nombre">{{ubication}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contrato</p>
                    <p class="nombre contrato">{{contract}}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/vacantes/{{url}}" class="btn btn-verde">Postularme</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No hay vacantes</p>
    {{/if}}
</main>