<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{vacante.enterprise}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ubicación</p>
        <p class="nombre">{{vacante.ubication}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contrato</p>
        <p class="nombre">{{vacante.contract}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Salario</p>
        <p class="nombre">$ {{vacante.salary}}</p>
    </div>
</div>

<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripción de la vacante</h2>
        <div class="vacante-descripcion">
            {{{vacante.description}}}
        </div>
        <a href="/vacantes/editar/{{vacante.url}}" class="btn btn-azul editar-btn">Editar vacante</a>
    </main>
    <aside class="sidebar">
        <h2>Conocimientos Deseados</h2>
        <ul class="skills">
            {{#each vacante.skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </aside>
</div>
<div class="contenedor datos-reclutador">
    <div class="enviar-datos">
        <h2>Contactar reclutador</h2>
        <p>LLena el siguiente formulario, sube el curriculum y pronto te contactaremos</p>

        <form action="/vacantes/{{vacante.url}}" class="default-form" method="post" enctype="multipart/form-data">
            <div class="campo">
                <label>Nombre</label>
                <input type="text" name="name" id="name" placeholder="Tu nombre"/>
            </div>
            <div class="campo">
                <label>Email</label>
                <input type="email" name="email" id="email" placeholder="Tu email"/>
            </div>
            <div class="campo">
                <label>CV (PDF)</label>
                <input type="file" name="cv" id="cv"/>
            </div>
            <div class="campo">
                <input type="submit" class="btn btn-verde" value="Enviar">
            </div>
        </form>
    </div>

    <div class="info-reclutador">
        <h2>Información reclutador</h2>
        {{#if vacante.autor.name}}
            <p>{{vacante.autor.name}}</p>
        {{/if}}
        {{#if vacante.autor.image}}
            <img src="/uploads/profiles/{{vacante.autor.image}}" alt="profile image" />
        {{/if}}
    </div>
</div>